<div sc-modal="indexCtrl.gruposCtrl.modal">
	<div ng-init="indexCtrl.gruposCtrl.formInit(grupo)">
		<div class="sc-modal-header">
			Cadastrar
			<i class="sc-modal-close sc-icon sc-icon-fechar-1 sc-badge-hover-red" ng-click="indexCtrl.gruposCtrl.cancelar()"></i>
		</div>

		<div class="sc-modal-body">
			<form class="flex-row">
				<div class="fcol-xs-50">
					<div class="sc-label">Nome:</div>
					<input class="sc-input-default sc-input-block" ng-model="params.nome">
				</div>
				<ul class="fcol-xs-100 sc-m-t-lg">
					<li ng-repeat="grupo in indexCtrl.gruposCtrl.grupos_list track by $index" class="sc-m-v-sm flex-row sc-border-b-lg">
						<div class="fcol-xs-auto">
							<div class="sc-label">{{grupo.label}}</div>
						</div>
						<div class="fcol-xs-15">
							<button class="sc-btn sc-btn-blue sc-dropdown sc-btn-thin">
								Visualizar
								<i class="sc-icon" ng-class="grupo.visualizaoes_opened ? 'sc-icon-seta-5-cima' : 'sc-icon-seta-5-baixo'"></i>
							</button>
						</div>
					</li>
				</ul>
			</form>
		</div>

		<div class="sc-modal-footer">
			<button class="sc-btn sc-btn-blue">Salvar</button>
			<button class="sc-btn sc-btn-default" ng-click="indexCtrl.gruposCtrl.cancelar()">Cancelar</button>
		</div>
	</div>
</div>