<div ng-controller="CorpoDiretivo::FormCtrl as formCtrl" ng-init="formCtrl.init(usuario)">
	<div sc-modal="indexCtrl.newUserCtrl.modal">
		<div style="overflow: auto;">
			<div class="sc-modal-header">
				<span ng-if="!usuario.id">Novo usuário</span>
				<span ng-if="usuario.id">Editar usuário</span>
				<i class="sc-icon sc-icon-fechar-1 sc-modal-close sc-badge-hover-red" ng-click="indexCtrl.formCtrl.cancelar()"></i>
			</div>

			<div class="sc-modal-body">
				<form>
					<div class="flex-row-with-padding">
						<div class="fcol-xs-25">
							<div class="sc-p-r-lg">
								<div class="sc-border-gray-light sc-border-solid sc-border-lg sc-border-radius sc-bg-white align-center" style="background-size: cover; background-position: center; width: 9.458em; height: 10.386em; line-height: 11.658em;">
									<i class="sc-icon sc-icon-camera-1 sc-text-gray" style="font-size: 2.4em;"></i>
								</div>
							</div>
							<div class="align-center sc-text-blue sc-text-md sc-p-t-sm sc-btn-group">
								<button class="sc-btn sc-btn-blue sc-btn-sm">Tirar foto</button>
								<button class="sc-btn sc-btn-blue sc-btn-sm">Enviar foto</button>
							</div>
						</div>
						<div class="fcol-xs-auto sc-p-o">
							<div class="fcol-xs-auto sc-p-l-o">
								<div class="sc-m-b-md">
									<div class="sc-label">Nome:</div>
									<input class="sc-input-default sc-input-block" ng-model="formCtrl.params.nome"/>
								</div>
							</div>
							<div class="fcol-xs-auto sc-m-b-md">
								<div class="sc-label">E-mail:</div>
								<input class="sc-input-default sc-input-block" type="email" ng-model="formCtrl.params.email"/>
							</div>
							<div class="fcol-xs-auto sc-m-b-md">
								<div class="sc-label">Telefones:</div>
								<div class="sc-tag-box">
									<div ng-repeat="telefone in formCtrl.params.telefones track by $index">
										<span class="sc-tag sc-tag-blue">
											<span ng-click="formCtrl.formCtrl.updateTelefone(telefone)">{{telefone.label}}</span>
											<i class="sc-icon sc-icon-fechar-1 sc-tag-remove" ng-click="formCtrl.formCtrl.rmvTelefone(telefone)"></i>
										</span>
									</div>
									<input class="phantom sc-input-block" ng-blur="formCtrl.formCtrl.addTelefone()" ng-keydown="formCtrl.formCtrl.telNavigate()" ng-model="formCtrl.formCtrl.novoTelefone.label" placeholder="Digite um novo telefone"/>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="fcol-xs-50">
							<div class="sc-m-b-md">
								<div class="sc-label">Grupo:</div>
								<select class="sc-input-default sc-input-block" ng-options="grupo as grupo.nome for grupo in indexCtrl.listCtrl.list track by grupo.id" ng-model="formCtrl.params.grupo">
									<option value="empty" label="Selecione um grupo"></option>
								</select>
							</div>
						</div>
						<div class="fcol-xs-50 sc-p-r-none" ng-init="indexCtrl.cargosCtrl.init(obj)">
							<div class="sc-m-b-md">
								<label ng-if="!indexCtrl.cargosCtrl.creatingMode">
									<div class="sc-label">Cargo/Função:</div>
									<div class="sc-input-group sc-dropdown" sc-dropdown-menu>
										<select class="sc-input-default" ng-options="cargo as cargo.nome for cargo in indexCtrl.cargosCtrl.list track by cargo.id" ng-model="formCtrl.params.cargo">
											<option value="empty" label="Selecione um cargo"></option>
										</select>
										<button class="sc-btn sc-btn-thin sc-btn-yellow" ng-click="indexCtrl.cargosCtrl.openMenu()">
											<i class="sc-icon sc-icon-reticiencias-v"></i>
										</button>
										<div class="sc-dropdown-menu pull-right" ng-if="indexCtrl.cargosCtrl.menuOpened" style="display: block; top: 2.3em; left: 8.9em;">
											<ul>
												<li sc-dropdown-close-menu ng-click="indexCtrl.cargosCtrl.new()">
													<span class="align-left">
														<i class="sc-icon sc-icon-mais-1"></i>
														Novo
													</span>
												</li>
												<li sc-dropdown-close-menu ng-click="indexCtrl.cargosCtrl.edit(cargo = formCtrl.params.cargo)">
													<span class="align-left">
														<i class="sc-icon sc-icon-lapis"></i>
														Editar
													</span>
												</li>
												<li sc-dropdown-close-menu ng-click="indexCtrl.cargosCtrl.rmv(cargo = formCtrl.params.cargo)">
													<span class="align-left">
														<i class="sc-icon sc-icon-lixeira-2"></i>
														Excluir
													</span>
												</li>
											</ul>
										</div>
									</div>
								</label>
								<label ng-if="indexCtrl.cargosCtrl.creatingMode" ng-init="indexCtrl.cargosCtrl.formInit(formCtrl.params.cargo)">
									<div class="sc-label">Nome:</div>
									<div class="sc-input-group">
										<input class="sc-input-default sc-input-thin" type="text" ng-model="indexCtrl.cargosCtrl.params.nome"/>
										<button class="sc-btn sc-btn-green" ng-click="indexCtrl.cargosCtrl.salvar(cargo = indexCtrl.cargosCtrl.params)">
											<i class="sc-icon sc-icon-visto-1"></i>
										</button>
										<button class="sc-btn sc-btn-red" ng-click="indexCtrl.cargosCtrl.resetForm()">
											<i class="sc-icon sc-icon-fechar-1"></i>
										</button>
									</div>
								</label>
							</div>
						</div>
						<div class="fcol-xs-33">
							<div class="sc-label">CPF:</div>
							<input class="sc-input-block sc-input-default" type="" sc-mask="cpf" placeholder="999.999.999-99" ng-model="formCtrl.params.cpf">
						</div>
						<div class="fcol-xs-33">
							<div class="sc-label">RG:</div>
							<input class="sc-input-default sc-input-block" type="" ng-model="formCtrl.params.rg">
						</div>
						<div class="fcol-xs-33">
							<div class="sc-label">Nascimento:</div>
							<input class="sc-input-default sc-input-block" sc-date-picker type="date" min="1900-01-01" max="3000-12-31" ng-model="formCtrl.params.nascimento">
						</div>
						<div class="sc-fieldset fcol-xs-auto sc-p-o sc-m-h-md">
							<div class="sc-fieldset-head flex-row">
								<div class="sc-label sc-p-t-xs">Expedientes:</div>
								<button class="sc-btn sc-btn-green sc-btn-thin sc-btn-sm sc-m-l-md" ng-click="formCtrl.formCtrl.addExpediente()">Adicionar</button>
							</div>
							<div class="sc-p-v-xs" ng-repeat="expediente in formCtrl.params.expedientes track by $index">
							 	<div class="sc-m-b-lg sc-m-t-sm" style="font-size: 11.9px;">
							 		<div class="ng-animation-slider flex-row" style="display: block;">
							 			<label class="sc-p-md" ng-repeat="dia in indexCtrl.settings.diasSemana">
							 				<input class="sc-m-r-xs sc-checkbox" type="checkbox"/>
							 				<span class="sc-label">{{dia.key}}</span>
							 			</label>
							 			<label class="fcol-xs-10">
											<input type="text" style="max-width: 4em;" class="sc-input-default sc-input-block sc-input-time" ng-model="expediente.horario_inicio"/>
										</label>
										<label class="sc-label align-self-center">até</label>
										<label class="fcol-xs-10 sc-m-h-lg">
											<input type="text" style="max-width: 4em;" class="sc-input-default sc-input-block sc-input-time" sc-input-time ng-model="expediente.horario_fim"/>
										</label>
							 			<i class="sc-icon sc-icon-lixeira-1 sc-text-lg sc-badge-hover-red" ng-click="formCtrl.formCtrl.rmvExpediente(expediente)"></i>
							 		</div>
							 	</div>
								<div class="clear"></div>
							</div>
						</div>
						<hr class="fcol-xs-100 sc-hr-gray-light"/>
						<div class="sc-label fcol-xs-100 sc-p-b-o sc-p-l-o sc-m-l-lg">Vigência</div>
						<div class="fcol-xs-27">
							<input sc-date-picker class="sc-input-default sc-input-date" type="date" ng-model="formCtrl.params.vigencia_inicio"/>
						</div>
						<div class="sc-label align-self-center">à</div>
						<div class="fcol-xs-27">
							<input sc-date-picker class="sc-input-default sc-input-date" type="date" ng-model="formCtrl.params.vigencia_fim"/>
						</div>
						<hr class="fcol-xs-100 sc-hr-gray-light"/>
						<div class="clear"></div>
						<div class="fcol-xs-25">
							<div class="sc-label">CEP:</div>
							<div class="sc-input-group">
								<input class="sc-input-default sc-input-block" type="text" ng-model="formCtrl.params.endereco.cep"/>
								<button class="sc-btn sc-btn-blue">
									<i class="sc-icon sc-icon-lupa-1"></i>
								</button>
							</div>
						</div>
						<div class="fcol-xs-25">
							<div class="sc-label">Cidade:</div>
							<div class="sc-input-group">
								<input class="sc-input-default sc-input-block" type="text" ng-model="formCtrl.params.endereco.cidade"/>
								<button class="sc-btn sc-btn-blue">
									<i class="sc-icon sc-icon-lupa-1"></i>
								</button>
							</div>
						</div>
						<div class="fcol-xs-25">
							<div class="sc-label">Logradouro:</div>
							<input class="sc-input-default sc-input-block" type="text" ng-model="formCtrl.params.endereco.logradouro"/>
						</div>
						<div class="fcol-xs-25">
							<div class="sc-label">Complemento:</div>
							<input class="sc-input-default sc-input-block" type="text" ng-model="formCtrl.params.endereco.logradouro"/>
						</div>
						<div class="fcol-xs-25">
							<div class="sc-label">Bairro:</div>
							<input class="sc-input-default sc-input-block" type="text" ng-model="formCtrl.params.endereco.bairro">
						</div>
						<hr class="fcol-xs-100 sc-hr-gray-light"/>
						<div class="fcol-xs-100">
							<div class="sc-label">Anexos</div>
							<button class="sc-btn sc-btn-blue">
								<i class="sc-icon sc-icon-clipe"></i>
								Anexar
							</button>
							<select class="sc-input sc-input-default sc-m-l-lg" ng-model="params.anexo.type">
								<option value="empty" label="Selecione o tipo" selected="true"></option>
								<option label="Documento" value="documento"></option>
								<option label="Foto" value="foto"></option>
							</select>
						</div>
						<hr class="fcol-xs-100 sc-hr-gray-light"/>
						<div class="fcol-xs-100">
							<div class="sc-label sc-text-lg">Visualizações:</div>
							<ul class="fcol-xs-100 sc-m-t-lg">
								<li ng-repeat="grupo in indexCtrl.settings.grupos_list track by $index" class="sc-m-v-sm flex-row sc-border-b-lg" ng-init="formCtrl.formCtrl.init(grupo)">
									<div class="fcol-xs-auto">
										<div class="sc-label sc-text-">{{grupo.label}}</div>
									</div>
									<div class="fcol-xs-25 sc-dropdown">
										<button class="sc-btn sc-btn-block sc-btn-blue sc-btn-thin" ng-click="grupo.visualizacoes.toggle()">
											<span class="sc-badge sc-badge-fixed sc-bg-yellow">{{grupo.checked}}</span>
											Visualizar
											<i class="sc-icon" ng-class="grupo.visualizacoes.opened ? 'sc-icon-seta-5-cima' : 'sc-icon-seta-5-baixo'"></i>
										</button>
										<ul class="sc-dropdown-menu pull-right" ng-if="grupo.visualizacoes.opened" style="display: block; max-height: 13em; overflow: auto; min-width: 10.8em;">
											<li ng-repeat="option in indexCtrl.settings.dadosPessoais track by $index" ng-click="formCtrl.formCtrl.toggleVisualizacoesOption(option, grupo)">
												<span class="align-left">
													<i class="sc-icon" ng-class="option.checked ? 'sc-icon-visto-3' : 'sc-icon-quadrado-1'"></i>
													{{option.label}}
												</span>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<hr class="fcol-xs-100 sc-hr-gray-light"/>
						<div class="fcol-xs-50">
							<button class="sc-btn sc-btn-blue sc-btn-thin sc-dropdown">Faz parte de algum grupo de permissões?
								<i class="sc-icon " ng-class="permissoes.menu.opened ? 'sc-icon-seta-5-cima' : 'sc-icon-seta-5-baixo'"></i>
							</button>
							<ul class="sc-dropdown-menu" ng-if="permissoes.menu.opened">
								<li ng-repeat="grupo in indexCtrl.gruposCtrl.list track by $index">
									<span class="align-left">{{grupo.nome}}</span>
								</li>
							</ul>
						</div>
						<div class="fcol-xs-50">
							<button class="sc-btn sc-btn-blue sc-btn-thin sc-dropdown">Faz parte de alguma gestão?
								<i class="sc-icon " ng-class="gestoes.menu.opened ? 'sc-icon-seta-5-cima' : 'sc-icon-seta-5-baixo'"></i>
							</button>
							<ul class="sc-dropdown-menu" ng-if="gestao.menu.opened">
								<li ng-repeat="gestao in indexCtrl.gestoesCtrl.list track by $index">
									<span class="align-left">{{gestao.nome}}</span>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>

			<div class="sc-modal-footer">
				<button class="sc-btn sc-btn-blue sc-m-h-lg">Salvar</button>
				<button class="sc-btn sc-btn-red" ng-click="indexCtrl.formCtrl.cancelar()">Cancelar</button>
			</div>

		</div>
	</div>
</div>