<div sc-modal="indexCtrl.gruposCtrl.modal">
	<div ng-init="indexCtrl.gruposCtrl.formInit(grupo)">
		<div class="sc-modal-header">
			Grupos
			<button class="sc-btn sc-btn-green sc-btn-thin sc-btn-sm sc-m-l-lg" ng-click="indexCtrl.gruposCtrl.new()">
				<i class="sc-icon sc-icon-mais-1"></i>
				Novo
			</button>
			<i class="sc-modal-close sc-icon sc-icon-fechar-1 sc-badge-hover-red" ng-click="indexCtrl.gruposCtrl.modal.close()"></i>
		</div>

		<div class="sc-modal-body" style="min-height: 25em;">
			<div class="flex-row" ng-if="indexCtrl.gruposCtrl.newRecord && !indexCtrl.gruposCtrl.creatingModeOn" ng-init="indexCtrl.gruposCtrl.formInit(grupo={})">
				<div class="fcol-xs-50 sc-m-l-lg">
					<div class="sc-label sc-text-md">Novo grupo:</div>
					<div class="sc-input-group sc-input-md sc-input-thin">
						<input class="sc-input-default" placeholder="Entre com o nome do novo grupo" ng-model="indexCtrl.gruposCtrl.params.nome"/>
						<button class="sc-btn sc-btn-green" ng-click="indexCtrl.gruposCtrl.submit()">
							<i class="sc-icon sc-icon-visto-1"></i>
						</button>
						<button class="sc-btn sc-btn-red" ng-click="indexCtrl.gruposCtrl.cancelar(grupo = {})">
							<i class="sc-icon sc-icon-fechar-1"></i>
						</button>
					</div>
				</div>
				<hr class="sc-hr-gray-light fcol-xs-100 sc-m-b-o"/>
			</div>
			<ul class="sc-accordion">
				<li as-sortable-item ng-repeat="grupo in indexCtrl.listCtrl.list track by $index" ng-init="indexCtrl.gruposCtrl.init(grupo)" class="sc-border-t-none">
					<div class="flex-row sc-accordion-head sc-text-blue" style="background-color: #FFF;">
						<div ng-class="indexCtrl.gruposCtrl.creatingModeOn ? 'sc-cursor-not-allowed' : 'as-sortable-item-handle'" as-sortable-item-handle class="align-center fcol-xs-3em">
							<i class="sc-icon sc-icon-menu sc-text-black"></i>
						</div>
						<div ng-if="!grupo.modal_edit.opened" class="fcol-xs-auto">{{grupo.nome}}
							<span ng-if="grupo.inativado_em" class="sc-border-radius sc-m-l-lg sc-text-sm sc-p-v-sm sc-text-white sc-p-h-lg sc-bg-yellow">Inativo!
							</span>
						</div>
						<div ng-if="grupo.modal_edit.opened" ng-init="indexCtrl.gruposCtrl.formInit(grupo)" class="fcol-xs-50">
							<div class="sc-input-group">
								<input class="sc-input-default" placeholder="Entre com o nome do grupo" ng-model="indexCtrl.gruposCtrl.params.nome"/>
								<button class="sc-btn sc-btn-green" ng-click="indexCtrl.gruposCtrl.submit(grupo)">
									<i class="sc-icon sc-icon-visto-1"></i>
								</button>
								<button class="sc-btn sc-btn-red" ng-click="indexCtrl.gruposCtrl.cancelar_modal(grupo)">
									<i class="sc-icon sc-icon-fechar-1"></i>
								</button>
							</div>
						</div>
						<div class="fcol-xs-auto"></div>
						<div class="align-center fcol-xs-3em" sc-stop-click>
							<div class="sc-dropdown">
								<i ng-click="grupo.options.toggle()" class="sc-icon sc-icon-reticiencias-v sc-badge-hover-gray"></i>
								<div ng-if="grupo.options.opened" class="sc-dropdown-menu pull-right" style="display: block;">
									<ul>
										<li ng-click="indexCtrl.gruposCtrl.edit(grupo)">
											<span>
												<i class="s-icon sc-icon-banir"></i>
												Editar
											</span>
										</li>
										<li ng-click="indexCtrl.itemCtrl.inativar(grupo)">
											<span>
												<i class="s-icon sc-icon-lapis"></i>
												<span ng-if="!grupo.inativado_em">Inativar</span>
												<span ng-if="grupo.inativado_em">Reativar</span>
											</span>
										</li>
										<li ng-click="indexCtrl.itemCtrl.rmv(grupo)">
											<span>
												<i class="s-icon sc-icon-lixeira-1"></i>
												Excluir
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="sc-modal-footer">
			<button class="sc-btn sc-btn-default" ng-click="indexCtrl.gruposCtrl.modal.close()">Fechar</button>
		</div>
	</div>
</div>