<div ng-controller="CorpoDiretivo::IndexCtrl as indexCtrl" ng-init="indexCtrl.init()">
	<section id="top-bar">
		<div id="top-bar-content">
			<div ng-include="indexCtrl.templates.usuarios.top_bar_content">
			</div>
		</div>
	</section>

	<section id="breadcrumb">
		<a>Início</a> / Ações / Corpo Diretivo
	</section>

	<section id="usuarios">
		<div>
			<ul class="sc-accordion sc-border-t-none" sc-scroll="listCtrl.nextPage()">
				<li as-sortable-item ng-repeat="grupo in indexCtrl.listCtrl.list track by $index" class="sc-border-t-none as-sortable-item" ng-init="indexCtrl.itemCtrl.init(grupo)" ng-class="{'sc-acc-blue': grupo.show.opened}">
					<div class="sc-accordion-head flex-row" ng-click="indexCtrl.itemCtrl.accToggle(grupo)">
						<label class="fcol-xs-3em align-center" ng-class="grupo.show.opened ? 'sc-text-white' : 'sc-text-blue'" ng-show="indexCtrl.screenMode.list">
							<i class="sc-icon" ng-if="indexCtrl.screenMode.list" ng-class="grupo.show.opened ? 'sc-icon-menos-1' : 'sc-icon-mais-1'"></i>
						</label>
						<label as-sortable-item-handle ng-if="indexCtrl.screenMode.sort" class="fcol-xs-3em align-center as-sortable-item-handle" ng-class="grupo.show.opened ? 'sc-text-white' : 'sc-text-blue'">
							<i class="sc-icon sc-icon-menu sc-text-black"></i>
						</label>
						<div ng-if="!grupo.edit.opened" class="fcol-xs-40" ng-class="grupo.show.opened ? 'sc-text-white' : 'sc-text-blue'">
							{{grupo.nome}}
						</div>
						<div sc-stop-click ng-if="grupo.edit.opened" ng-init="indexCtrl.gruposCtrl.formInit(grupo)" class="sc-stop-click fcol-xs-60 fcol-md-30 fcol-lg-20 sc-stop-click">
							<div class="sc-input-group">
								<input class="sc-input-default" ng-model="indexCtrl.gruposCtrl.params.nome"/>
								<button class="sc-btn sc-btn-green" ng-click="indexCtrl.gruposCtrl.salvar(grupo)">
									<i class="sc-icon sc-icon-visto-1"></i>
								</button>
								<button class="sc-btn sc-btn-red" ng-click="indexCtrl.gruposCtrl.resetForm(grupo)">
									<i class="sc-icon sc-icon-fechar-1"></i>
								</button>
							</div>
						</div>
						<div class="fcol-xs-auto"></div>
						<div class="fcol-xs-3em align-center" sc-stop-click>
							<div class="sc-dropdown">
								<i class="sc-icon sc-icon-reticiencias-v" ng-click="grupo.menu.toggle()" ng-class="grupo.show.opened ? 'sc-badge-hover-white' : 'sc-badge-hover-gray'"></i>
								<div ng-if="grupo.menu.opened" class="sc-dropdown-menu ng-animation-slider pull-right" style="display: block;">
									<ul>
										<li ng-click="indexCtrl.newUserCtrl.cadastrarUsuario(usuario = { grupo_id: grupo.id })">
											<span class="align-left">
												<i class="sc-icon sc-icon-mais-1"></i>
												Cadastrar usuário
											</span>
										</li>
										<li ng-click="indexCtrl.itemCtrl.inativar(grupo)">
											<span class="align-left">
												<i class="sc-icon sc-icon-banir"></i>
												Inativar grupo
											</span>
										</li>
										<li ng-click="indexCtrl.itemCtrl.edit(grupo)">
											<span class="align-left">
												<i class="sc-icon sc-icon-lapis"></i>
											  Editar
											</span>
										</li>
										<li ng-click="indexCtrl.itemCtrl.rmv(grupo)">
											<span class="align-left">
												<i class="sc-icon sc-icon-lixeira-1"></i>
											  Excluir
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="grupo.show.opened" class="sc-accordion-body sc-p-b-o ng-animation-slider" ng-include="indexCtrl.templates.usuarios.show"></div>
				</li>
			</ul>
		</div>
	</section>

	<section id="includes">
		<div ng-if="indexCtrl.newUserCtrl.modal.active && indexCtrl.newUserCtrl.newRecord">
			<div ng-include="indexCtrl.templates.usuarios.form"></div>
		</div>
		<div ng-if="indexCtrl.configuracoesCtrl.modal.active">
			<div ng-include="indexCtrl.templates.usuarios.configuracoes_modal"></div>
		</div>
		<div ng-if="indexCtrl.gruposCtrl.modal.active">
			<div ng-include="indexCtrl.templates.usuarios.grupos_modal"></div>
		</div>
	</section>
</div>