<div class="sc-m-h-md sc-fieldset">
	<ul class="flex-row sc-p-o">
		<li ng-if="grupo.loading" class="fcol-xs-100 sc-m-v-md">
			<div class="sc-text-blue align-center">
				<i class="sc-icon sc-icon-carregando-2 sc-icon-spin"></i>
				Carregando!
			</div>
		</li>
		<li ng-if="grupo.usuarios.length <= 0" class="fcol-xs-100">
			<div class="align-center sc-text-blue sc-border-radius sc-bg-white sc-p-v-lg">
				<i class="sc-icon sc-icon-exclamacao-1 sc-p-o"></i>
				<span class="sc-p-o">Nenhum usuário cadastrado!</span>
				<button class="sc-btn sc-btn-green sc-m-h-lg sc-btn-thin">
					<i class="sc-icon sc-icon-mais-1"></i>
					Cadastrar
				</button>
			</div>
		</li>
		<li ng-repeat="usuario in grupo.usuarios track by $index" ng-init="indexCtrl.usuariosCtrl.init(usuario)" class="fcol-lg-25 fcol-md-25 fcol-sm-33 fcol-xs-100">
			<div class="sc-bg-white sc-fieldset justify-content-space-between sc-m-md sc-bg-{{usuario.status.color}}-lighter">
				<div class="flex-row sc-p-b-o">
					<div class="fcol-xs-20 sc-p-r-lg"> <!-- SÓ A IMAGEM NESSA DIV -->
						<div class="sc-border-gray-light sc-border-solid sc-border-lg sc-border-radius sc-bg-white align-center" style="background-size: cover; background-position: center; width: 5.158em; height: 4.586em; line-height: 5.258em;">
							<i class="sc-icon sc-icon-camera-1 sc-text-gray" style="font-size: 2.4em;"></i>
						</div>
					</div>
					<div class="fcol-xs-auto sc-p-b-md">
						<div class="sc-m-b-xs">{{usuario.nome}}</div>
						<div class="sc-m-b-xs">Cargo:
							<span class="sc-text-blue">{{usuario.cargo.nome}}</span>
						</div>
						<div class="sc-m-b-xs">Telefones:
							<span ng-repeat="telefone in usuario.telefones" class="sc-text-blue">{{telefone}}   </span>
						</div>
						<div class="sc-m-b-xs">E-mail:
							<span class="sc-text-blue">{{usuario.email}}</span>
						</div>
					</div>
					<div class="fcol-xs-1em"></div>
					<div class="fcol-xs-3em">
						<button class="sc-btn sc-btn-default sc-dropdown" ng-click="usuario.menu.toggle()">
							<i class="sc-icon sc-icon-reticiencias-v"></i>
							<ul ng-if="usuario.menu.opened" class="sc-dropdown-menu ng-animation-slider pull-right" style="display: block; min-width: 11em;">
								<li  ng-click="indexCtrl.usuariosCtrl.edit(usuario)">
									<span class="align-left"><i class="sc-icon sc-icon-lapis"></i>Editar</span>
								</li>
								<li ng-click="indexCtrl.usuariosCtrl.open_ferias_modal(usuario)">
									<span class="align-left"><i class="sc-icon sc-icon-calendario-2"></i>Férias</span>
								</li>
								<li ng-click="indexCtrl.usuariosCtrl.inativar(usuario)">
									<span class="align-left">
										<i class="sc-icon sc-icon-banir"></i>
										<span ng-if="!usuario.inativado_em">Inativar</span>
										<span ng-if="usuario.inativado_em">Reativar</span>
									</span>
								</li>
								<li ng-click="indexCtrl.usuariosCtrl.rmv(usuario)">
									<span class="align-left"><i class="sc-icon sc-icon-lixeira-2"></i>Remover</span>
								</li>
							</ul>
						</button>
					</div>
				</div>
				<div class="sc-p-t-o">
					<div class="sc-m-b-xs">Vigência:
						<span class="sc-text-blue sc-label">{{usuario.vigencia_inicio | date: 'dd/MM/yyyy' }} à {{usuario.vigencia_fim | date: 'dd/MM/yyyy' }}</span>
					</div>
					<div class="sc-m-b-xs">Dias e horários:
						<div class="clear"></div>
						<span ng-repeat="expediente in usuario.expedientes track by $index" class="sc-text-blue clear">
							<i class="sc-icon sc-icon-relogio-2"></i>
							<span ng-repeat="dia in expediente.dias">{{dia}},</span>
							a partir de {{expediente.hora_inicio | date: 'mediumTime' }} até {{expediente.hora_fim | date: 'mediumTime' }}
							<div class="clear"></div>
						</span>
					</div>
				</div>
			</div>
			<div ng-if="usuario.edit.opened || indexCtrl.gruposCtrl.newRecord">
				<div ng-include="indexCtrl.templates.usuarios.form"></div>
			</div>
			<div nf-ig="usuario.ferias_modal.active">
				<div ng-include="indexCtrl.templates.usuarios.ferias_modal"></div>
			</div>
		</li>
	</ul>
</div>