<div ng-controller="CorpoDiretivo::IndexCtrl as indexCtrl" ng-init="indexCtrl.init()">
	<section id="top-bar">
		<div id="top-bar-content">
			<div ng-include="indexCtrl.templates.funcionarios.top_bar_content">
			</div>
		</div>
	</section>

	<section id="breadcrumb">
		<a>Início</a> / Ações / Corpo Diretivo
	</section>

	<section id="grupos">
		<div>
			<ul class="sc-accordion sc-border-t-none" sc-scroll="listCtrl.nextPage()">
				<li ng-if="indexCtrl.gruposCtrl.newRecord" class="sc-acc-blue" ng-init="indexCtrl.gruposCtrl.formInit(grupo = {})">
					<div class="sc-accordion-head flex-row" style="min-height: 42.781px;" ng-click="indexCtrl.gruposCtrl.cancelar(grupo = {})">
						<label class="fcol-xs-3em align-center">
							<i class="sc-icon sc-icon-mais-1"></i>
						</label>
						<div class="fcol-xs-auto sc-text-white">
							Novo cadastro
						</div>
					</div>
					<div class="sc-accordion-body sc-p-b-o ng-animation-slider">
						<div class="sc-m-h-xs sc-bg-white">
							<div class="fcol-xs-100 sc-p-lg">
								<div class="sc-label">Novo grupo:</div>
								<input class="sc-input-default" placeholder="Nome do grupo" ng-model="indexCtrl.gruposCtrl.params.nome"/>
								<button class="sc-btn sc-btn-blue sc-m-l-lg" ng-click="indexCtrl.gruposCtrl.submit()">Salvar</button>
								<button class="sc-btn sc-btn-default sc-m-l-md" ng-click="indexCtrl.gruposCtrl.cancelar(grupo = {})">Cancelar</button>
							</div>
						</div>
					</div>
				</li>
				<li
					as-sortable-item
					ng-controller="CorpoDiretivo::ShowCtrl as itemCtrl"
					ng-repeat="grupo in indexCtrl.listCtrl.list track by $index"
					class="sc-border-t-none as-sortable-item"
					ng-init="itemCtrl.init(grupo)"
					ng-class="{'sc-acc-blue': grupo.show.opened, 'sc-opac-60': grupo.excluindo}"
				>
					<div class="sc-accordion-head flex-row" ng-click="itemCtrl.accToggle(grupo)">
						<label class="fcol-xs-3em align-center" ng-class="grupo.show.opened ? 'sc-text-white' : 'sc-text-blue'" ng-show="indexCtrl.screenMode.list">
							<i class="sc-icon" ng-if="indexCtrl.screenMode.list" ng-class="grupo.show.opened ? 'sc-icon-seta-11-cima' : 'sc-icon-seta-11-baixo'"></i>
						</label>
						<label as-sortable-item-handle ng-if="indexCtrl.screenMode.sort" class="fcol-xs-3em align-center drag-icon as-sortable-item-handle" ng-class="grupo.show.opened ? 'sc-text-white' : 'sc-text-blue'">
							<i class="sc-icon sc-icon-menu sc-text-black"></i>
						</label>
						<div ng-if="!grupo.edit.opened" class="fcol-xs-40" ng-class="grupo.show.opened ? 'sc-text-white' : 'sc-text-blue'">
							{{grupo.nome}}
						</div>
						<div sc-stop-click ng-if="grupo.edit.opened" ng-init="indexCtrl.gruposCtrl.formInit(grupo)" class="sc-stop-click fcol-xs-60 fcol-md-30 fcol-lg-20 sc-stop-click">
							<div class="sc-input-group">
								<input class="sc-input-default" ng-model="indexCtrl.gruposCtrl.params.nome"/>
								<button class="sc-btn sc-btn-green" ng-click="indexCtrl.gruposCtrl.submit(grupo)">
									<i class="sc-icon sc-icon-visto-1"></i>
								</button>
								<button class="sc-btn sc-btn-red" ng-click="indexCtrl.gruposCtrl.resetForm(grupo)">
									<i class="sc-icon sc-icon-fechar-1"></i>
								</button>
							</div>
						</div>
						<div class="fcol-xs-auto"></div>
						<div class="fcol-xs-3em align-center" sc-stop-click>
							<div class="sc-dropdown">
								<i ng-if="!grupo.carregando" class="sc-icon sc-icon-reticiencias-v" ng-click="grupo.menu.toggle()" ng-class="grupo.show.opened ? 'sc-badge-hover-white' : 'sc-badge-hover-gray'"></i>
								<i class="sc-icon sc-icon-carregando-1 sc-icon-spin sc-badge-hover-gray" ng-if="grupo.carregando"></i>
								<div ng-if="grupo.menu.opened" class="sc-dropdown-menu ng-animation-slider pull-right" style="display: block;">
									<ul>
										<li ng-click="indexCtrl.formFact.init(funcionario = {}, grupo)">
											<span class="align-left">
												<i class="sc-icon sc-icon-mais-1"></i>
												Cadastrar usuário
											</span>
										</li>
										<li ng-click="indexCtrl.itemCtrl.inativar(grupo)">
											<span class="align-left">
												<i class="sc-icon sc-icon-banir"></i>
												<span ng-if="!grupo.inativado_em">Inativar grupo</span>
												<span ng-if="grupo.inativado_em">Reativar</span>
											</span>
										</li>
										<li ng-click="indexCtrl.itemCtrl.edit(grupo)">
											<span class="align-left">
												<i class="sc-icon sc-icon-lapis"></i>
											  Editar
											</span>
										</li>
										<li ng-click="indexCtrl.itemCtrl.rmv(grupo)">
											<span class="align-left">
												<i class="sc-icon sc-icon-lixeira-1"></i>
											  Excluir
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="grupo.show.opened" class="sc-accordion-body sc-p-b-o ng-animation-slider" ng-include="indexCtrl.templates.funcionarios.show"></div>
				</li>
			</ul>
		</div>
	</section>

	<section id="includes">
		<div ng-if="indexCtrl.formFact.modal.active">
			<div ng-include="indexCtrl.templates.funcionarios.form" ng-init="funcionario = indexCtrl.formFact.funcionario; formFact = indexCtrl.formFact"></div>
		</div>
		<div ng-if="indexCtrl.configuracoesCtrl.modal.active">
			<div ng-include="indexCtrl.templates.funcionarios.configuracoes_modal"></div>
		</div>
		<div ng-if="indexCtrl.gruposCtrl.modal.active">
			<div ng-include="indexCtrl.templates.funcionarios.grupos_modal"></div>
		</div>
		<div ng-if="indexCtrl.logCtrl.modal.active">
			<div ng-include="indexCtrl.templates.funcionarios.log_geral_modal">
		</div>
	</section>
</div>